<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>セッションサンプル</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link th:replace="common/head-cssjs"/>

    <style type="text/css">
        <!--
        .table {
            background-color: #ffccff;
            margin-bottom: 10px;
        }
        .has-error .form-control {
            background-color: #fff5ee;
        }
        .form-group {
            margin-bottom: 0px;
        }
        -->
    </style>
</head>

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="skin-blue layout-top-nav">
<div class="wrapper">

    <!-- Main Header -->
    <div th:replace="common/mainparts :: main-header"></div>

    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>セッションサンプル（入力その１）</h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <!--/* @thymesVar id="sessionSampleForm" type="ksbysample.webapp.lending.web.sessionsample.SessionSampleForm" */-->
                        <form id="sessionSampleForm" method="post" action="/sessionsample/confirm" th:action="@{/sessionsample/confirm}"
                              th:object="${sessionSampleForm}">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="20%"/>
                                    <col width="80%"/>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>名前</th>
                                        <td>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <div class="row"><div class="col-xs-8">
                                                        <input type="text" name="name" id="name" class="form-control input-sm" value=""
                                                               placeholder="氏名を入力してください" th:field="*{name}"/>
                                                    </div></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>年齢</th>
                                        <td>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <div class="row"><div class="col-xs-3">
                                                        <input type="text" name="age" id="age" class="form-control input-sm" value=""
                                                               placeholder="年齢を入力してください" th:field="*{age}"/>
                                                    </div></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button class="btn bg-blue js-btn-next"><i class="fa fa-hand-o-right"></i>　入力その２へ</button>
                                <button class="btn bg-blue js-btn-confirm"><i class="fa fa-eye"></i>　確認画面へ</button>
                           </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>

</div>
<!-- ./wrapper -->

<script th:replace="common/bottom-js"></script>
<script type="text/javascript">
    <!--
    $(document).ready(function() {
        $('.js-btn-next').bind('click', function(){
            $("#sessionSampleForm").attr("action", "/sessionsample/next");
            $('#sessionSampleForm').submit();
            return false;
        });

        $('.js-btn-confirm').bind('click', function(){
            $('#sessionSampleForm').submit();
            return false;
        });
    });
    -->
</script>
</body>
</html>
